*{
   font-family: Helvetica, Arial, sans-serif;
   margin:0;
   padding:0;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   color:#299a9c;
}

body{
   background-color: #e3e4e8;
}


/* All Section styles */

/* Header styling section */
header{
   background-image: url("../images/bg-hero.jpg");
   background-attachment: fixed;
   background-position:center;
   background-size:cover;
   display:flex;
   justify-content: space-between;
   flex-wrap:wrap;
   align-items:center;
   padding:6px 0;
}

header h1{
   color:rgb(40, 12, 151);
   margin-left:12px;
   font-size:36px;
   margin-left: 0;
   padding-left: 6%;
   background-color:rgba(108, 36, 159, 0.2);
   padding-right:5px;
   padding-top:10px;
   padding-bottom:10px;
   border-top-right-radius:15px;

}

header nav {
   margin-right: 5%;
}

header nav ul{
   display:flex;
   flex-wrap:wrap;
}

header nav ul li{
   list-style: none;
   margin:7px 15px;
   font-size:23px;
}

header nav ul li a{
   padding:0 20px;
   text-decoration: none;
   border-bottom: 4px solid #299a9c;
}

/* hero section start */
.hero{
   width:100%;
   background-image: url("../images/bg-hero.jpg");
   background-attachment: fixed;
   background-position: center;
   background-size:cover;
   display:flex;
   justify-content: flex-end;
   align-items:center;
   height: 150px;
   margin-bottom:40px;
}

.cool-sub{
   width:30%;
   padding:7px 15px;
   text-align:center;
   background-color: rgba(41, 154, 156,.3);
   color:#c4c1cd;
   width:25%;
   margin-top: 50px;
   font-weight:700;
}
/* Hero style ends */



/* About me section */

/* ABOUT me Section end */

/* CONTACT me section Start */


/* BORDERS */

/* Utility classes */
.section-title{
   font-size:35px;
   border-right: 5px solid #299a9c;
   text-align: right;
   margin-right: 20px;
}



/* Media Querry for screens less than 768px (Tablets) */
/* @media screen and (max-width:768px){
   header{
      padding-bottom:10px;
      justify-content:center;
      align-items: center;
   }
   header h1{
      margin-bottom:10px;
      border-radius:0px;
      text-align:center;
      width: 100%;
   }

} */
