
html{
   scroll-behavior: smooth;
}

*{
   font-family: Helvetica, Arial, sans-serif;
   margin:0;
   padding:0;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}



/* All Section styles */

/* Header styling section */
header{
   z-index:999;
   position:fixed;
   width:100vw;
   background-color:rgb(0,0,0,0.4);
   background-image: url("../images/bg-hero.jpg");
   background-attachment: fixed;
   background-position:center;
   background-size:cover;
   display:flex;
   justify-content: space-between;
   flex-wrap:wrap;
   align-items:center;
   padding:6px 0;
   box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
}

header h1{
   letter-spacing: 2px;
   color:rgb(177, 201, 222);
   margin-left:12px;
   font-size:38px;
   margin-left: 0;
   padding-left: 6%;
   padding-right:5px;
   padding-top:10px;
   padding-bottom:10px;
   cursor: pointer;
}

header h1 span{
   color:rgb(209, 52, 78);
}

header nav {
   margin-right: 10%;
}


header nav ul li{
   display: inline-block;
   list-style: none;
   margin:7px 15px;
   font-size:23px;
}

header a{
   color:rgb(177, 201, 222);
   padding:0 20px;
   text-decoration: none;
   padding:10px;
   transition: .4s;
}

header a:hover{
   color:rgb(255, 255, 255);
   background-color:rgb(209, 52, 78);
   border-radius:30px;
   transition: .4s;
}

/* for scaling the nav links */
header, li{
   transition: transform 0.4s;
}
header li:hover{
   transform: scale(1.2)
}

/* hero section start */
.hero{
   background-image: url("../images/bg-hero.jpg");
   background-attachment: fixed;
   background-position:center;
   background-size:cover;
   width:100vw;
   display:flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items:center;
   min-height:70vh;
}

.my-quote{
   line-height:1.3;
   box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
   width:40%;
   padding:20px 15px;
   text-align:center;
   margin-top: 80px;
   color:rgb(177, 201,222);
}

.name{
   letter-spacing: 2px;
   font-size:40px;
   color:rgb(177, 201, 222);
   margin-bottom:20px;
}
.name span{
   color:rgb(209, 52, 78);
}

/* Hero style ends */

/* About me section */
.about-me {
   background-color:rgb(0, 0, 0);
   color:rgb(225, 225, 225);
   padding:60px;
}

.background-me{
   display: flex;
   flex: row wrap;
   justify-content: center;
   align-items: center;
   gap:2%;
   background-color: rgb(102, 97, 97);
   padding:20px;
   border-radius:5px;
   box-shadow: 8px 9px 20px rgba(255, 255, 255, .5),
               -8px -7px 20px rgba(255, 255, 255,.5);
}

.my-text{
   width:50%;
}

.my-text h2{
   border-bottom:2px solid;
   text-align:center;
   letter-spacing:1px;
   font-size:35px;
   color:rgb(177, 201, 222);
   margin: 0 auto 15px auto;
   width:50%;

}

.my-text h2 span{
   color:rgb(209, 52, 78);
   border-bottom:3px solid;
}

.my-text p {
   padding:20px;
   text-align:left;
   line-height:1.5;
   box-shadow:inset 5px 5px 10px rgba(147, 140, .1),
              inset -5px -5px 10px rgba(147, 140, .1);

}

.about-me img{
   width:20%;
}

/* ABOUT me Section end */

/* My Work Section starts */

.my-work{
   background-color: black;
   padding-top:50px;
}

.my-work h2{
   border-bottom:2px solid;
   text-align:center;
   letter-spacing:1px;
   font-size:35px;
   color:rgb(177, 201, 222);
   margin: 0 auto 15px auto;
   width:20%;
   margin-bottom:40px;
}

.my-work h2 span{
   color: rgb(209, 52, 78);
   border-bottom:3px solid;
}

.project-group{
   display:flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: center;
   gap: 80px;
   padding-bottom:50px;
}
.run-buddy .img {
   background-image: url("../images/projectsImg/run-buddy.PNG");
}

.pass-gen .img{
   background-image: url("../images/projectsImg/pass-generator.PNG");
}

.robot-gladiator{
   background-image: url("../images/projectsImg/robot-gladiator.PNG")
}

.stream-searcher{
   background-image: url("../images/projectsImg/stream-searcher.PNG");
   background-size: cover;
}

.baseball-organizer{
   background-image: url("../images/projectsImg/baseball-organizer.PNG");
   background-size: cover;
}

.project{
   position:relative;
}

.project .img {
   width: 500px;
   height: 150px;
   cursor: pointer;
   background-size: cover;
   background-position:top;
   box-shadow: 10px 10px 10px rgba(255, 255, 255, .5);
   transition: box-shadow .3s linear;
}

.run-buddy{
   width:100%;
}
.run-buddy .img{
   margin: 0 auto;
   width: 800;
   height: 300px;
}

.project .img:hover{
   box-shadow: inset 0 0 0 1000px rgba(51, 48, 48, 0.667);  
}


.link a{
   text-decoration: none;
   color:white;
}


.project .link{
   position:absolute;
   bottom:0;
   right:0;
   background-color: black;
   text-align:center;
   visibility: hidden;
   opacity:0;
   -webkit-transition: visibility 0s, opacity .5s linear;
   transition: visibility 0s, opacity .5s linear;
}

.run-buddy .link{
   right: 13%;
   text-align:start;
}

.project:hover .link{
   visibility: visible;
   width:50%;
   padding: 7px 10px;
   opacity:0.7;
   border-top-left-radius:10px;

}

/* My Work Section ends */

/* CONTACT me section Start */
.contact-me{
   background-color: black;
   border-bottom: 50px solid black;
   display:flex;
   flex-flow:column wrap;
   align-items:center;
}

.contact-me h2{
   text-align:center;
   letter-spacing:1px;
   font-size:35px;
   color:rgb(177, 201, 222);
   margin: 0 auto 15px auto;
   width:20%;
   margin-bottom:40px;
   border-bottom:2px solid;
}

.contact-me h2 span{
   color:rgb(209, 52, 78);
   border-bottom:3px solid;
}

.contact-info a{
   display:inline-block;
   text-decoration:none;
   font-style: normal;
   text-align: center;
   margin:0px 50px;
   color:rgb(177, 201, 222);
   transition: transform .4s;
}

.contact-info a img{
   position:relative;
   top:10px;
}

.contact-info a .twitter-icon{
   width:35px;
   height:auto;
}

.contact-info a:hover{
   transform: scale(1.5);
}



/* BORDERS */

/* Utility classes */

/* Media Querry for screen less than 980px */
@media screen and (max-width: 980px){

   header{
      justify-content: center;
   }

   header h1{
      text-align:center;
      width:100%;
   }
   header nav{
      margin-right: 0;
   }

}

/* Media Querry for screens less than 768px (Tablets) */
@media screen and (max-width:768px){
   header{
      flex-flow: column wrap;
      padding-bottom:10px;
      justify-content:center;
      align-items: center;
   }

   header nav{
      margin-right:0;
   }

   header nav ul {
      display:flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
   }
   header h1{
      /* margin-bottom:10px; */
      border-radius:0px;
      text-align:center;
      width: 100%;
      padding-left:0;
   }

   .about-me img{
      width:35%;
   }

   .my-text{
      width:60%;
   }

   .contact-info{
      display:flex;
      flex-flow:column wrap;
      gap:10px;
   }

} 

/* Screen for mobile and smaller size 575px and lower */
@media screen and (max-width:575px){
   header{
      display:flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
   }

   header h1{
      font-size:30px;
   }

   header nav {
      margin-right:0;
      width:100%;
   }

   header nav ul li a {
      font-size:20px;
   }

   .hero{
      height:80vh;
   }
   
   /* .my-quote{
      max-width:fit-content(20em);
      
   } */
   .my-quote{
      width:100%;
   }

   .my-quote h2{
      letter-spacing: 1.5px;
      font-size:25px;
   }

   
   .about-me{
      padding:30px;
   }

   .background-me{
      padding: 10px;
   }
   
   .about-me img{
      width:45%;
   }
   
   .my-text{
      width:55%;
   }

   .my-text h2{
      margin:auto;
   }

   .my-text p{
      line-height:1.3;
   }

   .contact-info{
      display:flex;
      flex-flow:column wrap;
      gap:10px;
   }
}

@media screen and (max-width: 500px){

   .my-work{
      overflow:hidden;
   }
   .my-work .project{
      width: 100vw;
   }

   .header{
      width: 100vw;
   }
}

@media screen and (max-width: 450px){
   .background-me{
      flex-flow:column wrap;
   }
   .my-text{
      width:90%;
   }

   .about-me img{
      width:60%;
   }

} 